@model IEnumerable<net_review.Models.List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Create New", "Create", new { id = ViewContext.RouteData.Values["id"] })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        
        <th></th>
    </tr>
    @{int i = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Question)*@
                @Html.ActionLink(item.Question, "Edit", new { id = item.ID })
            </td>
            <td>
                <div>@Html.DisplayFor(modelItem => item.ChoiceA)</div>
                <div>@Html.DisplayFor(modelItem => item.ChoiceB)</div>
            </td>
           
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        i++;
    }

</table>

<a data-target="#modalBatchInsertList" data-toggle="modal" class="btn btn-primary">Batch Insert</a>
<div class="modal fade" id="modalBatchInsertList">
    <div class="modal-dialog">
        @* Todo: Use MVC  *@
        <form action="~/Lists/batchinsert" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Batch Insert</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control wMaxUnset" name="textArea" rows="10"></textarea>
                    <input type="hidden" name="cid" value="@ViewContext.RouteData.Values["id"]" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
